//секция "достоинства команды"

.section__benefits {
  padding-bottom: 0px;
}
.feature {
  @media screen and (min-width: $mobile) {
    max-width: 480px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1200px;
    display: flex;
  }

  &__list {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      width: calc((100% - 2 * 30px) / 2);
      margin-right: 30px;
    }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 3 * 30px) / 4);
      margin-right: 30px;
    }
  }
  &__list:nth-child(4n) {
    @media screen and (min-width: $desktop) {
      margin-right: 0;
    }
  }
  &__list:nth-child(2n) {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      margin-right: 0;
      margin-left: 15px;
    }
  }
  &__icon {
    background-size: cover;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
    background-color: #f5f4fa;

    @media screen and (min-width: $mobile) {
      max-width: 480px;
      padding: 25px 100px 25px 100px;
      width: 100%;
      margin-top: 30px;
    }
    @media screen and (min-width: $tablet) {
      max-width: 768px;
      width: 354px;
      margin-top: 30px;
    }
    @media screen and (min-width: $desktop) {
      max-width: 1200px;
      width: 270px;
    }
  }

  &__text {
    color: $p-text-color;
    font-style: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }

  &__title {
    color: $primary-text-color;
    font-style: 400;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0px;
    @media screen and (min-width: $mobile) {
      max-width: 480px;
      text-align: center;
    }
  }
}
